/* 
 #1A3A5C
 #FFFFFF
 #1A3A5C
*/

* { box-sizing: border-box;
    margin: 0; padding: 0; }

html { font-size: 16px; }

body { font-family:  system-ui, sans-serif;
    line-height: 1.5;
    color: #000000;
    background-color: #F5F5F5;
}

header { 
    background-color: #1A3A5C;
    color: #FFFFFF;
    padding: 12px;
}
nav { padding: 20px; }

img { max-width: 100%; display: block; }

button { font: inherit; cursor: pointer }

#adicionar { 
    background-color: #b30505;
    color: #FFFFFF;
}

.card {
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 1px 4px #0002;
    background-color: #FFFFFF;
}